<div class="body">

    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">BanCoppel</span>
      </div>
    </nav>
  
    <div class="row fondo py-5 ">
      <div class="col-md-6 justify-content-center">
        <h1 class="display-1 text-center">
          BanCoppel Express
          <hr>
          Es una banca en linea
        </h1>
      </div>
  
      <div class="col-md-6 justify-content-center">
        <div class="card">
          <div class="card-body">
            <form>
              <h1 class="text-center my-5">
                BIENVENIDO
              </h1>
              <div class="mb-2 d-flex">
                <span class="material-icons">account_circle</span>
                <input type="text" placeholder="Usuario" class="form-control" id="exampleInputEmail1" >
              </div>
              <div class="mb-3 d-flex">
                <span class="material-icons">https</span>
                <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="row my-5 mb-5">
                <button type="submit" class="btn btn-lg d-block mb-3 btn-primary" routerLink="/menu">ACEPTAR</button>
                <button type="submit" class="btn btn-lg d-block mb-3 btn-secondary">REGISTRARSE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
  
    </div>
  
    <footer class="text-light d-flex flex-wrap justify-content-between align-items-center py-3">
      <p class="col-md-4 mb-0">Contacto@Coppel.com</p>
      <p class="nav col-md-4 justify-content-end"> &copy;Derechos Reservados S.A. </p>
    </footer>
  
  </div>
  
  