<div class="body">

    <nav class="navbar navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand">BanCoppel</a>
        <form class="d-flex">
            <button class="btn btn-warning" type="submit" routerLink="/login">
              SALIR
            </button>
        </form>
      </div>
    </nav>
  
    <div class="py-3 text-center fondo">
        <h2>HOLA JOSE PEDRO</h2>
        <h3>BIENVENIDO</h3>
  
      <div class="container py-2">
        <div class="row">
  
          <div class="col">
            <button class="btn btn-icon btn-lg btn-outline-warning">
              <span class="material-icons">sync_alt</span>
            </button>
            <h4 class="py-2">ENVIAR DINERO</h4>
          </div>
  
          <div class="col">
            <button class="btn btn-icon btn-lg btn-outline-warning">
              <span class="material-icons">description</span>
            </button>
            <h4 class="py-2">MOVIMIENTOS</h4>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <button class="btn btn-icon btn-lg btn-outline-warning">
              <span class="material-icons">production_quantity_limits</span>
            </button>
            <h4 class="py-2">COMPRAS EN LINEA</h4>
          </div>
          <div class="col">
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <button class="btn btn-icon btn-lg btn-outline-warning">
              <span class="material-icons">phone_enabled</span>
            </button>
            <h4 class="py-2">TIEMPO AIRE</h4>
          </div>
          <div class="col">
            <button class="btn btn-icon btn-lg btn-outline-warning">
              <span class="material-icons">document_scanner</span>
            </button>
            <h4 class="py-2">RETIRO SIN TARJETA</h4>
          </div>
        </div>
  
      </div>
      <br><br>
    </div>
  
  
  
    <footer class="text-light d-flex flex-wrap justify-content-between align-items-center py-3">
      <p class="col-md-4 mb-0">Contactanos @Coppel.com</p>
    </footer>
  
  </div>
  
  